[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
marshmallow = "*"
marshmallow-sqlalchemy = "*"
passlib = "*"
flask-jwt-extended = "*"
pytest = "*"

[requires]
python_version = "3.7"
